/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 21, 2025, 10:41:49 AM
    Author     : nburakevics
*/

body {
    
    background-image: url('../images/skola.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    line-height: 1.6; 
}
